{% load url from future %}

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <label>Guestbook Name:</label>
        <input type="text" name="guestbook_id" value="default_guestbook">
        <label>Greeting ID (example: 5348024557502464):</label>
        <input type="text" name="greeting_id">
        <button id="btn_get_json">Get</button>
        <button id="btn_delete_greeting">Delete</button>
        <button id="btn_update_greeting">Update</button><br>
        <div class="result"></div>
        <script language="JavaScript" src="/javascript/jquery-1.11.2.min.js"></script>
        <script language="JavaScript" src="/javascript/setting_cookie.js"></script>
        <script>
            $("body").on("click", "#btn_get_json", function(){
                var greeting_id = $("input[name='greeting_id']").val();
                var guestbook_name = $("input[name='guestbook_id']").val();
                var url = '{% url "greeting-service-detail" guestbook_name="0" greeting_id=1 %}';
                url = url.replace("0", guestbook_name);
                url = url.replace("1", greeting_id);
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function(g) {
                        alert(JSON.stringify(g))
                    }
                });

                return false;
            })

            $("body").on("click", "#btn_delete_greeting", function(){
                var greeting_id = $("input[name='greeting_id']").val();
                var guestbook_name = $("input[name='guestbook_id']").val();
                var url = '{% url "greeting-service-detail" guestbook_name="0" greeting_id=1 %}';
                url = url.replace("0", guestbook_name);
                url = url.replace("1", greeting_id);
                $.ajax({
                    type: 'DELETE',
                    url: url,
                    success: function(g) {
                    }
                });

                return false;
            })

            $("body").on("click", "#btn_update_greeting", function(){
                var greeting_id = $("input[name='greeting_id']").val();
                var guestbook_name = $("input[name='guestbook_id']").val();
                var url = '{% url "test-greeting-edit" %}?id='+greeting_id+"&book="+guestbook_name;
                window.location = url;
                return false;
            })
        </script>
    </body>
</html>