<div>
	<span data-dojo-attach-point="nameNode"><strong>GreetingID:</strong> ${greeting_id}</span><br>
    <span data-dojo-attach-point="nameAuthor"><strong>Updated by:</strong> ${updated_by}</span><br>
    <span data-dojo-attach-point="dateNode"><strong>Date:</strong> ${date}</span></br>
	<span data-dojo-attach-point="contentNode"><strong>Content:</strong> ${!content}</span><br>
    <!--<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="nodeDelete"
            data-dojo-attach-event="delete">Delete</button>-->
</div>