<div style="float:left">
	<span style="font-size: 20px; float:left">
		<strong>Test DOJO</strong>
	</span><br>
	<div style="float:left; width: 100%; margin-top: 10px; border-bottom: thin solid black;
	margin-bottom: 20px; padding-bottom: 20px">
		<input data-dojo-attach-point="textSwitchGuestbookNode"
			   data-dojo-type="dijit/form/TextBox" />
		<input data-dojo-attach-point="submitSwitchGuestbookNode" type="submit" value="Switch">
	</div>
	<div style="float:left; width: 100%; margin-top: 10px; border-bottom: thin solid black;
	margin-bottom: 20px; padding-bottom: 20px">
		<textarea required="true" type="text"
                  data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="textNewGreetingNode"
                  data-dojo-props="regExp:'\\w{1,50}', invalidMessage:'Khong vuot qua 50 ki tu'"
                  style="width: 96%; height: 100px; padding: 8px"></textarea><br>
		<input data-dojo-attach-point="submitNewGreetingNode" type="submit"
			   value="Add New Greeting">
	</div>
	<div id="greetings" style="float:left; width: 100%">

	</div>
</div>