{% load staticfiles %}
{% load url from future %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Test GuestBook</title>
	</head>
	<body>
		<div class="main">
			{{ form.non_field_errors }}
			<form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="greeting_id" value="{{request.GET.id}}">
                <input type="hidden" name="guestbook_name" value="{{request.GET.book}}">
                <input type="submit" value="Update Edit" />
			</form>
			<a href="{% url 'home' %}">Home</a>
		</div>
	</body>
</html>