{% load staticfiles %}
{% load url from future %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Test GuestBook</title>

		<link href="{% static "homepage.css" %}" rel="stylesheet"/>
	</head>
	<body>
		<div class="main">
		<table>
			<thead>
				<tr>
					<td>Author</td>
					<td>Guestbook</td>
					<td>Content</td>
					<td>Date</td>
				</tr>
			</thead>
			{% for greeting in greetings %}
				<tbody>
					<tr>
						<td>
						  {% if greeting.author.nickname %}
							{% if userInfo and userInfo = greeting.author  %}
								<strong>You</strong> wrote
							{% else %}
								<strong>{{ greeting.author }}</strong> wrote
							{% endif %}
						  {% else %}
							An <strong>anonymous person</strong> wrote
						  {% endif %}
						</td>
						<td>
							<strong>{{greeting.guestbook.name}}</strong>
						</td>
						<td>
							<strong>{{ greeting.content|escape }}</strong><br>
						</td>
						<td>	
							{{ greeting.date}}
						</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
			<a href="{{ url }}">{{ url_linktext }}</a>
			<a href="{% url "sign" %}">Sign Guestbook</a>
		</div>
	</body>
</html>