{% load url from future %}

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <label>Guestbook Name:</label>
        <input type="text" name="guestbook_id" value="default_guestbook"><br>

        <label>Content</label>
        <textarea name="greeting_content"></textarea><br>

        <button id="btn_edit_greeting">POST</button>
        <div class="result"></div>
        <script language="JavaScript" src="/javascript/jquery-1.11.2.min.js"></script>
        <script language="JavaScript" src="/javascript/setting_cookie.js"></script>
        <script>
            $("body").on("click", "#btn_edit_greeting", function(){
                var guestbook_name = $("input[name='guestbook_id']").val();
                var url = '{% url "greeting-service" guestbook_name="0" %}';
                url = url.replace("0", guestbook_name);
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        "guestbook_name" : guestbook_name,
                        "greeting_message" : $("textarea[name='greeting_content']").val()
                    },
                    success: function(g) {
                    }
                });

                return false;
            })
        </script>
    </body>
</html>