{% load url from future %}
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <label>Guestbook Name:</label>
        <input type="text" name="guestbook_id" value="default_guestbook">
        <button id="btn_get_json">Get</button>
        <div class="result"></div>
        <script language="JavaScript" src="/javascript/jquery-1.11.2.min.js"></script>
        <script>
            $("body").on("click", "#btn_get_json", function(){
                var guestbook_name = $("input[name='guestbook_id']").val();
                var url = '{% url "greeting-service" guestbook_name="0" %}';
                url = url.replace("0", guestbook_name);
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function(g) {
                        $(".result").html(JSON.stringify(g)+"<br>")

                        if (g["more"] === true){
                            $(".result").append("<a id='next' href='"+g["next_cursor"]+"'>Next</a>")
                        }
                    }
                });

                return false;
            })

            $("body").on("click", "#next", function(){
                var guestbook_name = $("input[name='guestbook_id']").val();
                var url = '{% url "greeting-service" guestbook_name="0" %}';
                url = url.replace("0", guestbook_name);
                url += "?cursor="+$(this).attr("href")
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function(g) {
                        $(".result").html(JSON.stringify(g)+"<br>")

                        if (g["more"] === true){
                            $(".result").append("<a id='next' href='"+g[""]+"'>Next</a>")
                        }
                    }
                });

                return false;
            })
        </script>
    </body>
</html>